In [1]:
import lxml.html as lx
import pandas as pd
import requests
import requests_cache
import re
import requests
import requests_ftp
import requests_cache
import lxml
from bs4 import BeautifulSoup
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd
plt.style.use('ggplot')
requests_cache.install_cache('coll_cache')
%matplotlib inline

In [2]:
def myfun(urlbase):
    #urlbase = "https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary"
    want1= requests.get(urlbase)
    want2 =want1.text
    want3 =BeautifulSoup(want2,'lxml-xml')
    want4=want3.find_all(href=re.compile("box-office-star-record"))
    result1=set([want4[i].text for x in want4 for i in range(0,len(want4))])
    want5=want3.find_all(align=re.compile("right"))
    result2=[want5[i].text for x in want4 for i in range(0,len(want5))][0:len(result1)]

    want6=want3.find_all(name="td",attrs={'class':'alnright'})
    result3=[want6[i].text for x in want6 for i in range(1,4)][0:3]
    return result3

In [3]:
def myfun1(url):
    url = 'https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary'
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    tables = soup.select('table')
    df_list = []
    for table in tables:
        df_list.append(pd.read_html(table.prettify()))
    m=df_list[2][0]
    return m

for director

In [6]:
myfun("https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary")
myfun("https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary")
myfun("https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary")
myfun("https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary")
myfun("https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary")
myfun("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")
myfun("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")

['$529,512,669', '$523,863,020', '$1,053,375,689']

In [7]:
link=["https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary",
      "https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary",
      "https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary",
      "https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary",
      "https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary",
      "https://www.the-numbers.com/person/921510401-Joachim-Ronnin#tab=summary",
      "https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary"]
Domestic=[]
International=[]
Worldwide=[]
for l in link:
    x=myfun(l)
    d=x[0]
    i=x[1]
    w=x[2]
    Domestic.append(d)
    International.append(i) 
    Worldwide.append(w)

In [8]:
Name=["xXx: Return of Xander Cage",
      "Geostorm",
      "The Fate of the Furious",
      "The Mummy",
      "Transformers: The Last Knight",
      "Pirates of the Caribbean: Dead Men Tell No Tales",
      "A Dog’s Purpose"]
dict={'Name':Name,
      'Domestic(director)':Domestic,
      'International(director)':International,
      'Worldwide(director)':Worldwide}
Director=pd.DataFrame(dict)
Director=Director[['Name', 'Domestic(director)', 'International(director)','Worldwide(director)']]
Director

,Name,Domestic(director),International(director),Worldwide(director)
0,xXx: Return of Xander Cage,"$341,032,453","$545,426,963","$886,459,416"
1,Geostorm,"$809,318,256","$1,480,685,100","$2,290,003,356"
2,The Fate of the Furious,"$757,018,128","$1,241,886,899","$1,998,905,027"
3,The Mummy,"$1,738,416,625","$2,258,987,757","$3,997,404,382"
4,Transformers: The Last Knight,"$1,255,682,482","$1,587,645,612","$2,843,328,094"
5,Pirates of the Caribbean: Dead Men Tell No Tales,"$172,558,876","$622,200,000","$794,758,876"
6,A Dog’s Purpose,"$529,512,669","$523,863,020","$1,053,375,689"

In [42]:
Director.to_csv('director.csv',index=False)

for actor

In [ ]:
myfun("https://www.the-numbers.com/person/39880401-Vin-Diesel#tab=summary")
myfun("https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary")
myfun("https://www.the-numbers.com/person/22060401-Gerard-Butler")
myfun("https://www.the-numbers.com/person/1159650401-Talitha-Bateman")
myfun("https://www.the-numbers.com/person/39880401-Vin-Diesel")
myfun("https://www.the-numbers.com/person/72720401-Dwayne-Johnson")
myfun("https://www.the-numbers.com/person/540401-Tom-Cruise")
myfun("https://www.the-numbers.com/person/487260401-Annabelle-Wallis")
myfun("https://www.the-numbers.com/person/1650401-Mark-Wahlberg#tab=summary")
myfun("https://www.the-numbers.com/person/80850401-Shia-LaBeouf#tab=summary")
myfun("https://www.the-numbers.com/person/580401-Johnny-Depp#tab=summary")
myfun("https://www.the-numbers.com/person/10110401-Javier-Bardem#tab=summary")
myfun("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")
myfun("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")

In [66]:
Actor=["https://www.the-numbers.com/person/39880401-Vin-Diesel#tab=summary",
"https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary",
"https://www.the-numbers.com/person/22060401-Gerard-Butler",
"https://www.the-numbers.com/person/1159650401-Talitha-Bateman",
"https://www.the-numbers.com/person/39880401-Vin-Diesel",
"https://www.the-numbers.com/person/72720401-Dwayne-Johnson",
"https://www.the-numbers.com/person/540401-Tom-Cruise",
"https://www.the-numbers.com/person/487260401-Annabelle-Wallis",
"https://www.the-numbers.com/person/1650401-Mark-Wahlberg#tab=summary",
"https://www.the-numbers.com/person/80850401-Shia-LaBeouf#tab=summary",
"https://www.the-numbers.com/person/580401-Johnny-Depp#tab=summary",
"https://www.the-numbers.com/person/10110401-Javier-Bardem#tab=summary",
"https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary",
"https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary"]

In [67]:
Domestic=[]
International=[]
Worldwide=[]
for l in Actor:
    x=myfun(l)
    d=x[0]
    i=x[1]
    w=x[2]
    Domestic.append(d)
    International.append(i) 
    Worldwide.append(w)

In [72]:
 len( Name*2)

14

In [73]:
dict={'Name':Name*2,
      'Domestic(actor)':Domestic,
      'International(actor)':International,
      'Worldwide(actor)':Worldwide}
Actor=pd.DataFrame(dict)
Actor=Actor[['Name', 'Domestic(actor)', 'International(actor)','Worldwide(actor)']]
Actor

,Name,Domestic(actor),International(actor),Worldwide(actor)
0,xXx: Return of Xander Cage,"$1,323,338,433","$3,830,289,378","$5,153,627,811"
1,Geostorm,$0,"$25,040,000","$25,040,000"
2,The Fate of the Furious,"$292,683,312","$283,633,664","$576,316,976"
3,The Mummy,$0,$0,"$33,700,160"
4,Transformers: The Last Knight,"$1,323,338,433","$3,830,289,378","$5,153,627,811"
5,Pirates of the Caribbean: Dead Men Tell No Tales,"$100,990,648","$133,450,656","$234,441,304"
6,A Dog’s Purpose,"$1,284,826,648","$2,552,489,126","$3,837,315,774"
7,xXx: Return of Xander Cage,$0,$0,"$80,101,125"
8,Geostorm,"$492,869,237","$234,728,472","$727,597,709"
9,The Fate of the Furious,$0,$0,$0
10,The Mummy,"$174,397,605","$295,793,713","$470,191,318"
11,Transformers: The Last Knight,$0,"$363,720","$363,720"
12,Pirates of the Caribbean: Dead Men Tell No Tales,"$1,255,682,482","$1,587,645,612","$2,843,328,094"
13,A Dog’s Purpose,"$529,512,669","$523,863,020","$1,053,375,689"

In [74]:
Actor.to_csv('director.csv',index=False)

for overall analyzing about director

In [28]:
DJ_data=myfun1('https://www.the-numbers.com/person/25200401-D-J-CarusoD-J-Caruso#tab=summary')[1:]

In [29]:
DD_data=myfun1("https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary")[1:]

In [30]:
FG_data=myfun1("https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary")[1:]

In [31]:
AK_data=myfun1("https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary")[1:]

In [32]:
MB_data=myfun1("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")[1:]

In [33]:
LH_data=myfun1("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")[1:]

In [34]:
DD_data.columns=["record","rank","value"]
DJ_data.columns=["record","rank","value"]
FG_data.columns=["record","rank","value"]
AK_data.columns=["record","rank","value"]
MB_data.columns=["record","rank","value"]
LH_data.columns=["record","rank","value"]

In [35]:
director_data=pd.concat([DD_data,DJ_data,FG_data,AK_data,MB_data,LH_data])
# director_data=DD_data
director_data = director_data.reset_index()
director_data=director_data.drop('index',1)
director_data

                                               record  rank         value
0   Top Grossing Associate Producer at the Domesti...   886   $30,038,362
1   Top Grossing Director at the Domestic Box Offi...   228  $341,032,453
2   Top Grossing Executive Producer at the Domesti...  3005    $8,087,783
3   Top Grossing Producer at the Domestic Box Offi...  1771   $28,607,015
4   Top Grossing Screenwriter at the Domestic Box ...  2547    $2,423,467
5   Top Grossing Director at the International Box...   159  $545,426,963
6   Top Grossing Screenwriter at the International...  3085      $721,221
7   Top Grossing Associate Producer at the Worldwi...  1007   $30,038,362
8   Top Grossing Director at the Worldwide Box Off...   175  $886,459,416
9   Top Grossing Executive Producer at the Worldwi...  3524    $8,087,783
10  Top Grossing Producer at the Worldwide Box Off...  2273   $28,607,015
11  Top Grossing Screenwriter at the Worldwide Box...  3157    $3,144,688
12  Top Grossing Associate Producer at the Domesti...   886   $30,038,362
13  Top Grossing Director at the Domestic Box Offi...   228  $341,032,453
14  Top Grossing Executive Producer at the Domesti...  3005    $8,087,783
15  Top Grossing Producer at the Domestic Box Offi...  1771   $28,607,015
16  Top Grossing Screenwriter at the Domestic Box ...  2547    $2,423,467
17  Top Grossing Director at the International Box...   159  $545,426,963
18  Top Grossing Screenwriter at the International...  3085      $721,221
19  Top Grossing Associate Producer at the Worldwi...  1007   $30,038,362
20  Top Grossing Director at the Worldwide Box Off...   175  $886,459,416
21  Top Grossing Executive Producer at the Worldwi...  3524    $8,087,783
22  Top Grossing Producer at the Worldwide Box Off...  2273   $28,607,015
23  Top Grossing Screenwriter at the Worldwide Box...  3157    $3,144,688
24  Top Grossing Associate Producer at the Domesti...   886   $30,038,362
25  Top Grossing Director at the Domestic Box Offi...   228  $341,032,453
26  Top Grossing Executive Producer at the Domesti...  3005    $8,087,783
27  Top Grossing Producer at the Domestic Box Offi...  1771   $28,607,015
28  Top Grossing Screenwriter at the Domestic Box ...  2547    $2,423,467
29  Top Grossing Director at the International Box...   159  $545,426,963
..                                                ...   ...           ...
42  Top Grossing Screenwriter at the International...  3085      $721,221
43  Top Grossing Associate Producer at the Worldwi...  1007   $30,038,362
44  Top Grossing Director at the Worldwide Box Off...   175  $886,459,416
45  Top Grossing Executive Producer at the Worldwi...  3524    $8,087,783
46  Top Grossing Producer at the Worldwide Box Off...  2273   $28,607,015
47  Top Grossing Screenwriter at the Worldwide Box...  3157    $3,144,688
48  Top Grossing Associate Producer at the Domesti...   886   $30,038,362
49  Top Grossing Director at the Domestic Box Offi...   228  $341,032,453
50  Top Grossing Executive Producer at the Domesti...  3005    $8,087,783
51  Top Grossing Producer at the Domestic Box Offi...  1771   $28,607,015
52  Top Grossing Screenwriter at the Domestic Box ...  2547    $2,423,467
53  Top Grossing Director at the International Box...   159  $545,426,963
54  Top Grossing Screenwriter at the International...  3085      $721,221
55  Top Grossing Associate Producer at the Worldwi...  1007   $30,038,362
56  Top Grossing Director at the Worldwide Box Off...   175  $886,459,416
57  Top Grossing Executive Producer at the Worldwi...  3524    $8,087,783
58  Top Grossing Producer at the Worldwide Box Off...  2273   $28,607,015
59  Top Grossing Screenwriter at the Worldwide Box...  3157    $3,144,688
60  Top Grossing Associate Producer at the Domesti...   886   $30,038,362
61  Top Grossing Director at the Domestic Box Offi...   228  $341,032,453
62  Top Grossing Executive Producer at the Domesti...  3005    $8,087,783
63  Top Grossing Producer at the Domestic Box Offi...  1771   $28,607,015
64  Top Grossing Screenwriter at the Domestic Box ...  2547    $2,423,467
65  Top Grossing Director at the International Box...   159  $545,426,963
66  Top Grossing Screenwriter at the International...  3085      $721,221
67  Top Grossing Associate Producer at the Worldwi...  1007   $30,038,362
68  Top Grossing Director at the Worldwide Box Off...   175  $886,459,416
69  Top Grossing Executive Producer at the Worldwi...  3524    $8,087,783
70  Top Grossing Producer at the Worldwide Box Off...  2273   $28,607,015
71  Top Grossing Screenwriter at the Worldwide Box...  3157    $3,144,688

[72 rows x 3 columns]

In [36]:
m1=["D-J-Caruso"]*12
m2=["Dean-Devlin"]*12
m3=["F-Gary"]*12
m4=["Alex-Kurtzman"]*12
m5=["Michael-Bay"]*12
m6=["Lasse-HallstrA-m"]*12

In [37]:
director_data["name"]=m1+m2+m3+m4+m5+m6

In [38]:
director_data.head()

,record,rank,value,name
0,Top Grossing Associate Producer at the Domesti...,886,"$30,038,362",D-J-Caruso
1,Top Grossing Director at the Domestic Box Offi...,228,"$341,032,453",D-J-Caruso
2,Top Grossing Executive Producer at the Domesti...,3005,"$8,087,783",D-J-Caruso
3,Top Grossing Producer at the Domestic Box Offi...,1771,"$28,607,015",D-J-Caruso
4,Top Grossing Screenwriter at the Domestic Box ...,2547,"$2,423,467",D-J-Caruso

In [39]:
director_data.to_csv('director.csv',index=False)