In [10]:
import lxml.html as lx
import pandas as pd
import requests
import requests_cache
import requests
import requests_ftp
import requests_cache
import lxml
from bs4 import BeautifulSoup
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd
plt.style.use('ggplot')
requests_cache.install_cache('coll_cache')
%matplotlib inline
import re

In [14]:
def myfun(urlbase):
    #urlbase = "https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary"
    want1= requests.get(urlbase)
    want2 =want1.text
    want3 =BeautifulSoup(want2,'lxml-xml')
    want4=want3.find_all(name='span',attrs={'class':'ProfileNav-value'})
    ans=[]
    for i in range(0,len(want4)-1):
        want5=want4[i].text.strip()
        want6=re.findall(r'[0-9]+',want5)
        want7=list(set(want6))
        ans.append(want7)
    result=[]
    for j in range(0,len(ans)):
        result.append([ans[j][0]])
    return result

order: Tweets, Following, Followers, Likes

In [37]:
link=["https://twitter.com/xxxMovie",
      "https://twitter.com/GeostormMovie",
      "https://twitter.com/FastFurious__8",
      "https://twitter.com/themummy",
      "https://twitter.com/transformers",
      "https://twitter.com/DisneyPirates",
      "https://twitter.com/a_dogs_purpose"]
Tweets=[] 
Following=[] 
Followers=[] 
Likes=[]
for l in link:
    x=myfun(l)
    t=x[0][0]
    f1=x[1][0]
    f2=x[2][0]
    l1=x[3][0]
    Tweets.append(t)
    Following.append(f1) 
    Followers.append(f2)
    Likes.append(l1)

In [38]:
Name=["xXx: Return of Xander Cage",
      "Geostorm",
      "The Fate of the Furious",
      "The Mummy",
      "Transformers: The Last Knight",
      "Pirates of the Caribbean: Dead Men Tell No Tales",
      "A Dog’s Purpose"]

In [40]:
dict={'Name':Name,
      'Tweets':Tweets,
      'Following':Following,
      'Followers':Followers,
      'Likes':Likes}

Twitter = pd.DataFrame(dict)                   
Twitter = boxoffice[['Name','Tweets', 'Following', 'Followers', 'Likes']]
Twitter['Followers'][6]="8039" #Don't know why it shoows 039
Twitter

,Name,Tweets,Following,Followers,Likes
0,xXx: Return of Xander Cage,419,46,25,287
1,Geostorm,128,5,969,2
2,The Fate of the Furious,37,836,941,147
3,The Mummy,219,19,3,168
4,Transformers: The Last Knight,243,230,265802,2026
5,Pirates of the Caribbean: Dead Men Tell No Tales,442,33,38481,159
6,A Dog’s Purpose,1057,22,8039,148

Below can be ignored.

In [4]:
myfun("https://twitter.com/xxxMovie")
myfun("https://twitter.com/GeostormMovie")
myfun("https://twitter.com/FastFurious__8")
myfun("https://twitter.com/themummy")
myfun("https://twitter.com/transformers")
myfun("https://twitter.com/DisneyPirates")
myfun("https://twitter.com/a_dogs_purpose")

In [186]:
urlbase="https://twitter.com/xxxMovie"

In [187]:
want1= requests.get(urlbase)
want2 =want1.text
want3 =BeautifulSoup(want2,'lxml-xml')

In [188]:
want4=want3.find_all(name='span',attrs={'class':'ProfileNav-value'})

In [191]:
want5=want4[0].text

In [192]:
want5

'419 data-is-compact="false">419\n            '

In [197]:
want6=re.findall(r'[0-9]+',want5)

In [198]:
want6

['419', '419']

In [199]:
list(set(want6))

['419']

In [201]:
ans=[]
for i in range(0,len(want4)-1):
    want5=want4[i].text.strip()
    want6=re.findall(r'[0-9]+',want5)
    want7=list(set(want6))
    ans.append(want7)
    
# result=[]
# for j in range(0,len(ans1)):
#     result=[ans1[0][0]]

In [214]:
ans

[['419'], ['46'], ['25058', '1', '25'], ['287']]

In [216]:
result=[]
for j in range(0,len(ans)):
    result.append([ans[j][0]])

In [217]:
result

[['419'], ['46'], ['25058'], ['287']]

In [158]:
import numpy as np
arr = np.arange(12).reshape((3, 4)).tolist()

In [159]:
arr

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [163]:
len(arr)

3

In [165]:
[arr[1][1]]

[5]