In [51]:
import lxml.html as lx
import pandas as pd
import requests
import requests_cache
import re
import requests
import requests_ftp
import requests_cache
import lxml
from bs4 import BeautifulSoup
from collections import Counter
from matplotlib import pyplot as plt
import pandas as pd
plt.style.use('ggplot')
requests_cache.install_cache('coll_cache')
%matplotlib inline

In [52]:
def myfun(urlbase):
    #urlbase = "https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary"
    want1= requests.get(urlbase)
    want2 =want1.text
    want3 =BeautifulSoup(want2,'lxml-xml')
    want4=want3.find_all(href=re.compile("box-office-star-record"))
    result1=set([want4[i].text for x in want4 for i in range(0,len(want4))])
    want5=want3.find_all(align=re.compile("right"))
    result2=[want5[i].text for x in want4 for i in range(0,len(want5))][0:len(result1)]

    want6=want3.find_all(name="td",attrs={'class':'alnright'})
    result3=[want6[i].text for x in want6 for i in range(1,4)][0:3]
    return result3

In [53]:
def myfun1(url):
    url = 'https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary'
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    tables = soup.select('table')
    df_list = []
    for table in tables:
        df_list.append(pd.read_html(table.prettify()))
    m=df_list[2][0]
    return m

for director

In [54]:
myfun("https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary")
myfun("https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary")
myfun("https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary")
myfun("https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary")
myfun("https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary")
myfun("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")
myfun("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")

['$529,512,669', '$523,863,020', '$1,053,375,689']

In [55]:
link=["https://www.the-numbers.com/person/25200401-D-J-Caruso#tab=summary",
      "https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary",
      "https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary",
      "https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary",
      "https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary",
      "https://www.the-numbers.com/person/921510401-Joachim-Ronnin#tab=summary",
      "https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary"]
Domestic=[]
International=[]
Worldwide=[]
for l in link:
    x=myfun(l)
    d=x[0]
    i=x[1]
    w=x[2]
    Domestic.append(d)
    International.append(i) 
    Worldwide.append(w)

In [56]:
Name=["xXx: Return of Xander Cage",
      "Geostorm",
      "The Fate of the Furious",
      "The Mummy",
      "Transformers: The Last Knight",
      "Pirates of the Caribbean: Dead Men Tell No Tales",
      "A Dog’s Purpose"]
dict={'Name':Name,
      'Domestic(director)':Domestic,
      'International(director)':International,
      'Worldwide(director)':Worldwide}
Director=pd.DataFrame(dict)
Director=Director[['Name', 'Domestic(director)', 'International(director)','Worldwide(director)']]
Director

,Name,Domestic(director),International(director),Worldwide(director)
0,xXx: Return of Xander Cage,"$341,032,453","$545,426,963","$886,459,416"
1,Geostorm,"$809,318,256","$1,480,685,100","$2,290,003,356"
2,The Fate of the Furious,"$757,018,128","$1,241,886,899","$1,998,905,027"
3,The Mummy,"$1,738,416,625","$2,258,987,757","$3,997,404,382"
4,Transformers: The Last Knight,"$1,255,682,482","$1,587,645,612","$2,843,328,094"
5,Pirates of the Caribbean: Dead Men Tell No Tales,"$172,558,876","$622,200,000","$794,758,876"
6,A Dog’s Purpose,"$529,512,669","$523,863,020","$1,053,375,689"

In [ ]:
Director.to_csv('Director.csv',index=False)

for actor

In [ ]:
myfun("https://www.the-numbers.com/person/39880401-Vin-Diesel#tab=summary")
myfun("https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary")
myfun("https://www.the-numbers.com/person/22060401-Gerard-Butler")
myfun("https://www.the-numbers.com/person/1159650401-Talitha-Bateman")
myfun("https://www.the-numbers.com/person/39880401-Vin-Diesel")
myfun("https://www.the-numbers.com/person/72720401-Dwayne-Johnson")
myfun("https://www.the-numbers.com/person/540401-Tom-Cruise")
myfun("https://www.the-numbers.com/person/487260401-Annabelle-Wallis")
myfun("https://www.the-numbers.com/person/1650401-Mark-Wahlberg#tab=summary")
myfun("https://www.the-numbers.com/person/80850401-Shia-LaBeouf#tab=summary")
myfun("https://www.the-numbers.com/person/580401-Johnny-Depp#tab=summary")
myfun("https://www.the-numbers.com/person/10110401-Javier-Bardem#tab=summary")
myfun("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")
myfun("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")

In [ ]:
Actor=["https://www.the-numbers.com/person/39880401-Vin-Diesel#tab=summary",
"https://www.the-numbers.com/person/155860401-Donnie-Yen#tab=summary",
"https://www.the-numbers.com/person/22060401-Gerard-Butler",
"https://www.the-numbers.com/person/1159650401-Talitha-Bateman",
"https://www.the-numbers.com/person/39880401-Vin-Diesel",
"https://www.the-numbers.com/person/72720401-Dwayne-Johnson",
"https://www.the-numbers.com/person/540401-Tom-Cruise",
"https://www.the-numbers.com/person/487260401-Annabelle-Wallis",
"https://www.the-numbers.com/person/1650401-Mark-Wahlberg#tab=summary",
"https://www.the-numbers.com/person/80850401-Shia-LaBeouf#tab=summary",
"https://www.the-numbers.com/person/580401-Johnny-Depp#tab=summary",
"https://www.the-numbers.com/person/10110401-Javier-Bardem#tab=summary",
"https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary",
"https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary"]

In [ ]:
Domestic=[]
International=[]
Worldwide=[]
for l in Actor:
    x=myfun(l)
    d=x[0]
    i=x[1]
    w=x[2]
    Domestic.append(d)
    International.append(i) 
    Worldwide.append(w)

In [ ]:
 len( Name*2)

In [ ]:
dict={'Name':Name*2,
      'Domestic(actor)':Domestic,
      'International(actor)':International,
      'Worldwide(actor)':Worldwide}
Actor=pd.DataFrame(dict)
Actor=Actor[['Name', 'Domestic(actor)', 'International(actor)','Worldwide(actor)']]
Actor

In [ ]:
Actor.to_csv('Actor.csv',index=False)

for overall analyzing about director

In [ ]:
DJ_data=myfun1('https://www.the-numbers.com/person/25200401-D-J-CarusoD-J-Caruso#tab=summary')[1:]

In [ ]:
DD_data=myfun1("https://www.the-numbers.com/person/205050401-Dean-Devlin#tab=summary")[1:]

In [ ]:
FG_data=myfun1("https://www.the-numbers.com/person/57580401-F-Gary-Gray#tab=summary")[1:]

In [ ]:
AK_data=myfun1("https://www.the-numbers.com/person/80570401-Alex-Kurtzman#tab=summary")[1:]

In [ ]:
MB_data=myfun1("https://www.the-numbers.com/person/11530401-Michael-Bay#tab=summary")[1:]

In [ ]:
LH_data=myfun1("https://www.the-numbers.com/person/60610401-Lasse-HallstrA-m#tab=summary")[1:]

In [ ]:
DD_data.columns=["record","rank","value"]
DJ_data.columns=["record","rank","value"]
FG_data.columns=["record","rank","value"]
AK_data.columns=["record","rank","value"]
MB_data.columns=["record","rank","value"]
LH_data.columns=["record","rank","value"]

In [ ]:
director_data=pd.concat([DD_data,DJ_data,FG_data,AK_data,MB_data,LH_data])
# director_data=DD_data
director_data = director_data.reset_index()
director_data=director_data.drop('index',1)
director_data

In [ ]:
m1=["D-J-Caruso"]*12
m2=["Dean-Devlin"]*12
m3=["F-Gary"]*12
m4=["Alex-Kurtzman"]*12
m5=["Michael-Bay"]*12
m6=["Lasse-HallstrA-m"]*12

In [ ]:
director_data["name"]=m1+m2+m3+m4+m5+m6

In [ ]:
director_data.head()

In [ ]:
director_data.to_csv('director.csv',index=False)